In [1]:
import pandas as pd

In [186]:
#create dataframe from FEMA disaster declarations summaries csv
file = pd.read_csv('DisasterDeclarationsSummaries.csv', low_memory=False)
df = pd.DataFrame(file)

In [188]:
df.head()

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,placeCode,designatedArea,declarationRequestNumber,lastIAFilingDate,incidentId,region,designatedIncidentTypes,lastRefresh,hash,id
0,FM-5529-OR,5529,OR,FM,2024-08-09T00:00:00.000Z,2024,Fire,LEE FALLS FIRE,0,0,...,99067,Washington (County),24122,NaN,2024081001,10,R,2024-08-27T18:22:14.800Z,ae87cf3c6ed795015b714af7166c7c295b2b67c7,09e3f81a-5e16-4b72-b317-1c64e0cfa59c
1,FM-5528-OR,5528,OR,FM,2024-08-06T00:00:00.000Z,2024,Fire,ELK LANE FIRE,0,0,...,99031,Jefferson (County),24116,NaN,2024080701,10,R,2024-08-27T18:22:14.800Z,432cf0995c47e3895cea696ede5621b810460501,59983f89-30bf-4888-b21b-62e8d57d9aac
2,FM-5527-OR,5527,OR,FM,2024-08-02T00:00:00.000Z,2024,Fire,MILE MARKER 132 FIRE,0,0,...,99017,Deschutes (County),24111,NaN,2024080301,10,R,2024-08-27T18:22:14.800Z,2f21d90cb6bc64b0d4121aa3f18d852bbb4b11fa,8d13ecf0-bc2f-496b-8c9f-b2e73da832a0
3,DR-4312-CA,4312,CA,DR,2017-05-02T00:00:00.000Z,2017,Severe Storm,FLOODING,0,0,...,60347,Resighini Rancheria (Indian Reservation),17035,NaN,2017041001,9,NaN,2025-03-26T20:21:32.579Z,432a3a64bdbb291ae26cf5a27a33deeabb380481,98a7c5bb-2346-45aa-a1ca-0399440d4f0b
4,DR-4251-AL,4251,AL,DR,2016-01-21T00:00:00.000Z,2016,Severe Storm,"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",0,0,...,99001,Autauga (County),16003,NaN,2015122301,4,NaN,2025-03-27T12:21:46.559Z,dcd4ce6b37ee49875b3f1e32e9a8a16cd6a803d3,5229bbae-eee6-42b8-b277-edbafa8d6cb2

In [190]:
#dictionary to convert state/territory designators to full word strings
state_dict = {'AL':'Alabama','AK':'Alaska','AZ':'Arizona','AR':'Arkansas','CA':'California','CO':'Colorado','CT':'Connecticut',
             'DE':'Delaware', 'FL':'Florida','GA':'Georgia','HI':'Hawaii','ID':'Idaho','IL':'Illinois','IN':'Indiana','IA':'Iowa',
             'KS':'Kansas','KY':'Kentucky','LA':'Louisiana','ME':'Maine','MD':'Maryland','MA':'Massachusetts','MI':'Michigan',
             'MN':'Minnesota','MS':'Mississippi','MO':'Missouri','MT':'Montana','NE':'Nebraska','NV':'Nevada','NH':'New Hampshire',
             'NM':'New Mexico','NY':'New York','NJ':'New Jersey','NC':'North Carolina','ND':'North Dakota','OH':'Ohio',
             'OK':'Oklahoma','OR':'Oregon','PA':'Pennsylvania','RI':'Rhode Island','SC':'South Carolina','SD':'South Dakota',
              'TN':'Tennessee','TX':'Texas','UT':'Utah','VT':'Vermont','VA':'Virginia','WA':'Washington','WV':'West Virginia',
             'WI':'Wisconsin','WY':'Wyoming','DC':'Washington, DC','GU':'Guam','PR':'Puerto Rico','AS':'American Samoa',
             'MP':'Northern Mariana Islands','FM':'Federated States of Micronesia','MH':'Marshall Islands','PW':'Palau'}

state_list = ['AL','AZ','AR','CA','CO','CT','DE', 'FL','GA','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI',
             'MN','MS','MO','MT','NE','NV','NH','NM','NY','NJ','NC','ND','OH','OK','OR','PA','RI','SC','SD',
              'TN','TX','UT','VT','VA','WA','WV','WI','WY']

#set using only natural disasters that could be potentially caused by climate change
natural_disaster = ['Fire','Flood','Severe Storm','Straight-Line Winds','Winter Storm','Hurricane','Tornado','Tropical Storm',
                   'Mud/Landslide','Snowstorm','Coastal Storm','Severe Ice Storm','Typhoon','Freezing','Drought','Fishing Losses',
                   'Other', 'Dam/Levee Break','Tropical Depression']

#manmade or other disasters that would not be caused by climate change
nonweather_disaster = ['Earthquake','Other','Biological','Dam/Levee Break','Volcanic Eruption','Toxic Substances','Chemical',
                      'Terrorist','Human Cause','Tsunami','Civil Unrest','Nuclear','Explosion','Tidal Wave']

#dictionary to convert disaster codes to strings representing each type of disaster
disaster_dict = {'0':'Not applicable','1':'Explosion','2':'Straight-Line Winds','3':'Tidal Wave','4':'Tropical Storm',
                '5':'Winter Storm','A':'Tsunami','B':'Biological','C':'Coastal Storm','D':'Drought','E':'Earthquake',
                 'F':'Flood','G':'Freezing','H':'Hurricane','I':'Terrorist','J':'Typhoon','K':'Dam/Levee Break','L':'Chemical',
                'M':'Mud/Landslide','N':'Nuclear','O':'Severe Ice Storm','P':'Fishing Losses','Q':'Crop Losses','R':'Fire',
                'S':'Snowstorm','T':'Tornado','U':'Civil Unrest', 'V':'Volcanic Eruption','W':'Severe Storm','X':'Toxic Substances',
                'Y':'Human Cause','Z':'Other', '8':'Tropical Depression'}

In [192]:
#select columns necessary for data analysis, add empty columns for each natural disaster type
column_list = ['femaDeclarationString','state','incidentType','incidentBeginDate','fipsStateCode','region',
               'designatedIncidentTypes','declarationTitle', 'incidentId','declarationType']+natural_disaster+nonweather_disaster
df = df.reindex(columns=column_list, fill_value=0)

In [194]:
df.head()

,femaDeclarationString,state,incidentType,incidentBeginDate,fipsStateCode,region,designatedIncidentTypes,declarationTitle,incidentId,declarationType,...,Volcanic Eruption,Toxic Substances,Chemical,Terrorist,Human Cause,Tsunami,Civil Unrest,Nuclear,Explosion,Tidal Wave
0,FM-5529-OR,OR,Fire,2024-08-08T00:00:00.000Z,41,10,R,LEE FALLS FIRE,2024081001,FM,...,0,0,0,0,0,0,0,0,0,0
1,FM-5528-OR,OR,Fire,2024-08-04T00:00:00.000Z,41,10,R,ELK LANE FIRE,2024080701,FM,...,0,0,0,0,0,0,0,0,0,0
2,FM-5527-OR,OR,Fire,2024-08-02T00:00:00.000Z,41,10,R,MILE MARKER 132 FIRE,2024080301,FM,...,0,0,0,0,0,0,0,0,0,0
3,DR-4312-CA,CA,Severe Storm,2017-02-08T00:00:00.000Z,6,9,NaN,FLOODING,2017041001,DR,...,0,0,0,0,0,0,0,0,0,0
4,DR-4251-AL,AL,Severe Storm,2015-12-23T00:00:00.000Z,1,4,NaN,"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",2015122301,DR,...,0,0,0,0,0,0,0,0,0,0

In [196]:
df['incidentBeginDate']=pd.to_datetime(df['incidentBeginDate'])

In [198]:
df['year'] = df['incidentBeginDate'].dt.year
df['month'] = df['incidentBeginDate'].dt.month
df['day'] = df['incidentBeginDate'].dt.day

In [210]:
#select only disasters where primary incident type is in the natural disaster set
#disaster_df = df[(df['incidentType'].isin(natural_disaster)) & (df['state'].isin(state_list)) & 
                 #(df['year'].isin(range(2012,2025)))]
#disaster_df = df[(df['incidentType'].isin(natural_disaster)) & (df['year'].isin(range(2012,2025)))]
disaster_df=df[(df['year'].isin(range(2012,2025))) & (df['declarationType']!='FM')]
disaster_df.reset_index(inplace = True)

In [212]:
#ensures that incident type is reflected in designated incident types
disaster_df['designatedIncidentTypes'].fillna(disaster_df['incidentType'], inplace = True)

C:\Users\sbpow\AppData\Local\Temp\ipykernel_22548\1369824373.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disaster_df['designatedIncidentTypes'].fillna(disaster_df['incidentType'], inplace = True)

In [214]:
#this block uses the incident codes in disaster_dict to populate the respective incident columns in disaster_df

for i in range(0,len(disaster_df)):
    incident = disaster_df.loc[i,'designatedIncidentTypes']
    incident_list = incident.split(',')
    
    if ((len(incident_list) == 1) & (len(incident_list[0])>1)):
        col = incident_list[0]
        try:
            disaster_df.loc[i, col] += 1
        except:
            continue
    
    else:
        new_list = []
        for inc in incident_list:
        
            if len(inc) == 1:
                new_list.append(disaster_dict[inc])
                
        if disaster_df.loc[i, 'incidentType'] not in new_list:
            new_list.append(disaster_df.loc[i, 'incidentType'])
                
        for val in new_list:
            try:
                disaster_df.loc[i, val] += 1
            except: 
                continue

In [216]:
disaster_df.drop_duplicates('femaDeclarationString', inplace = True)
disaster_df.drop(columns=['index', 'incidentType','femaDeclarationString','incidentBeginDate','designatedIncidentTypes','declarationTitle'],inplace=True)

C:\Users\sbpow\AppData\Local\Temp\ipykernel_22548\3444995926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disaster_df.drop_duplicates('femaDeclarationString', inplace = True)
C:\Users\sbpow\AppData\Local\Temp\ipykernel_22548\3444995926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disaster_df.drop(columns=['index', 'incidentType','femaDeclarationString','incidentBeginDate','designatedIncidentTypes','declarationTitle'],inplace=True)

In [218]:
disaster_df.sample(20)

,state,fipsStateCode,region,incidentId,declarationType,Fire,Flood,Severe Storm,Straight-Line Winds,Winter Storm,...,Terrorist,Human Cause,Tsunami,Civil Unrest,Nuclear,Explosion,Tidal Wave,year,month,day
9324,NY,36,2,2017071201,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2017,5,2
10117,NV,32,9,2017020901,DR,0,0,1,0,0,...,0,0,0,0,0,0,0,2017,2,5
22546,FL,12,4,2024100501,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2024,10,5
3241,AR,5,6,2020033001,DR,0,0,0,0,0,...,0,0,0,0,0,0,0,2020,3,28
8438,OH,39,5,2019031502,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2019,2,5
603,SD,46,8,2023052602,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2023,4,9
9066,MA,25,1,2018031201,DR,0,0,0,0,0,...,0,0,0,0,0,0,0,2018,3,13
13458,HI,15,9,2012030701,DR,0,0,1,0,0,...,0,0,0,0,0,0,0,2012,3,3
3444,AK,2,10,2020030901,DR,0,0,0,0,0,...,0,0,0,0,0,0,0,2020,1,20
7593,PR,72,2,2020010701,DR,0,0,0,0,0,...,0,0,0,0,0,0,0,2019,12,28
10543,TX,48,6,2016061101,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2016,5,22
12274,ND,38,8,2013102401,DR,0,0,1,0,0,...,0,0,0,0,0,0,0,2013,10,4
12214,AK,2,10,2013111301,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2013,10,27
22542,AZ,4,9,2024093001,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2024,8,22
10277,GA,13,4,2017010901,DR,0,0,1,0,0,...,0,0,0,0,0,0,0,2017,1,2
14318,VT,50,1,2023071001,EM,0,1,0,0,0,...,0,0,0,0,0,0,0,2023,7,9
595,ME,23,1,2023051002,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2023,4,30
5647,KS,20,7,2020030901,DR,0,0,0,0,0,...,0,0,0,0,0,0,0,2020,1,20
13587,SD,46,8,2019092402,DR,0,1,0,0,0,...,0,0,0,0,0,0,0,2019,5,21
13435,VT,50,1,2012060201,DR,0,0,1,0,0,...,0,0,0,0,0,0,0,2012,5,29

In [262]:
#disaster_df.to_csv('sparse_disaster_matrix.csv',index=False)

In [220]:
len(disaster_df)

1085

Mission Assignment Sparse Matrix Creation

In [114]:
MA_file = pd.read_csv('MissionAssignments.csv', low_memory=False)
MA_df = pd.DataFrame(MA_file)

In [116]:
MA_df.head()

,incidentId,incidentName,incidentType,disasterNumber,declarationType,declarationTitle,maId,maAmendNumber,actionId,maType,...,maSttCostSharePct,maFedCostSharePct,maSttCostShareAmount,maFedCostShareAmount,maPriority,assistanceRequested,statementOfWork,id,hash,lastRefresh
0,2024081901,R1_Severe Storm-Flooding_08182024,Severe Storm,3612.0,EM,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",3612EMCTDOI-USGS01,0,476360,FOS,...,0.0,1.0,0.0,20000.0,High,USGS Field measurements of flood-water heights...,"As directed by and in coordination with FEMA, ...",ecbcf24e-7d9e-4ced-ae57-4871181703e1,497d57a5e4d071da1721548476b50b64a7321bdd,2024-08-27T18:24:53.439Z
1,2024080901,Tropical Disturbance_TS_Ernesto,Tropical Storm,NaN,SU,NaN,PR24080901USDA-APH01,0,475083,FOS,...,0.0,1.0,0.0,29184.0,High,As directed by and in accordance with FEMA Reg...,"As directed by and in coordination with FEMA, ...",72dc30d3-d804-4005-897f-91395be284b2,e0e65997764dc0d660e5b941a18d2f18adabaa55,2024-08-27T18:24:53.439Z
2,2024080901,Tropical Disturbance_TS_Ernesto,Tropical Storm,NaN,SU,NaN,PR24080901DOT01,0,475067,FOS,...,0.0,1.0,0.0,25000.0,High,As directed by and in accordance with FEMA Reg...,"As directed by and in coordination with FEMA, ...",61a653ea-688c-4218-bef2-662e1c8b7fde,dbb5a30a3fbd2c96318ba12decb71e63ac072b76,2024-08-27T18:24:53.439Z
3,2024080901,Tropical Disturbance_TS_Ernesto,Tropical Storm,NaN,SU,NaN,PR24080901DOJ-ATF01,0,475098,FOS,...,0.0,1.0,0.0,73500.0,High,As directed by and in accordance with FEMA Reg...,"As directed by and in coordination with FEMA, ...",eeafed44-bdfa-45be-a2ec-6aeb4199043d,4f49b6e6d98634659a77d554c06b8fdeac4503cd,2024-08-27T18:24:53.439Z
4,2024080901,Tropical Disturbance_TS_Ernesto,Tropical Storm,NaN,SU,NaN,PR24080901DOE-OE01,0,475064,FOS,...,0.0,1.0,0.0,124822.0,High,As directed by and in accordance with FEMA Reg...,"As directed by and in coordination with FEMA, ...",bdb7935b-5df5-4124-87d8-ddd8feb4a8e3,35d63a525dff8c4a93b83d676d303b6089c0373a,2024-08-27T18:24:53.439Z

In [118]:
filter_df=MA_df[(MA_df['declarationType']!='SU')&(MA_df['maAmendNumber']==0)&(MA_df['supportFunction']<=15)]
#fill NA for support functions

In [120]:
filter_df.columns

Index(['incidentId', 'incidentName', 'incidentType', 'disasterNumber',
       'declarationType', 'declarationTitle', 'maId', 'maAmendNumber',
       'actionId', 'maType', 'supportFunction', 'priority', 'region', 'stt',
       'agencyId', 'agency', 'authority', 'dateReceived', 'dateRequired',
       'popStartDate', 'popEndDate', 'dateObligated', 'obligationAmount',
       'sttCostSharePct', 'fedCostSharePct', 'sttCostShareAmt',
       'fedCostShareAmt', 'maPopStartDate', 'maPopEndDate',
       'maSttCostSharePct', 'maFedCostSharePct', 'maSttCostShareAmount',
       'maFedCostShareAmount', 'maPriority', 'assistanceRequested',
       'statementOfWork', 'id', 'hash', 'lastRefresh'],
      dtype='object')

In [122]:
filter_df['supportFunction'].fillna(value=0,inplace=True)

C:\Users\sbpow\AppData\Local\Temp\ipykernel_22548\764680023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df['supportFunction'].fillna(value=0,inplace=True)

In [124]:
#create column list of  incidentID, maType, supportFunction, region, stt, agencyID, maPriority
#get unique list of agencies
agencies=filter_df['agencyId'].unique().tolist()
#get unique list of support functions
support_function=filter_df['supportFunction'].unique().tolist()
sf_list=[]
for sf in support_function:
    sf_list.append('sf_'+str(sf))
#get unique list of maType
maType_list=filter_df['maType'].unique().tolist()
#get unique list of region
region_list=[]
regions=filter_df['region'].unique().tolist()
for r in regions:
    region_list.append('region_'+str(r))
#get unique list of maPriority
priority_list=filter_df['maPriority'].unique().tolist()
#get unique list of stt
stt_list=filter_df['stt'].unique().tolist()

#add to column list
column_list = ['incidentId','stt','incidentType','region','maType','maPriority','supportFunction','agencyId', 'maId',
              'declarationType']+agencies+sf_list+maType_list+region_list+priority_list+stt_list

In [126]:
sparse_MA = filter_df.reindex(columns=column_list, fill_value=0)
sparse_MA.reset_index(inplace = True)

In [128]:
#create sparse matrix by agency, maPriority, stt, region, supportFunction, maType

#add 1 to column for each category
for i in range(0,len(sparse_MA)):
    new_list=[]
    
    new_list.append('region_'+str(sparse_MA.loc[i,'region']))
    new_list.append(sparse_MA.loc[i,'maPriority'])
    new_list.append(sparse_MA.loc[i,'stt'])
    new_list.append(sparse_MA.loc[i,'agencyId'])
    new_list.append('sf_'+str(sparse_MA.loc[i,'supportFunction']))
    new_list.append(sparse_MA.loc[i,'maType'])

    for val in new_list:
        try:
            sparse_MA.loc[i,val]+=1
        except:
            continue

In [154]:
len(sparse_MA)

7044

In [260]:
#sparse_MA.to_csv('sparse_MA_matrix.csv',index=False)

Combine both dataframes for further analysis

In [144]:
print(disaster_df.columns)

Index(['state', 'fipsStateCode', 'region', 'incidentId', 'declarationType',
       'Fire', 'Flood', 'Severe Storm', 'Straight-Line Winds', 'Winter Storm',
       'Hurricane', 'Tornado', 'Tropical Storm', 'Mud/Landslide', 'Snowstorm',
       'Coastal Storm', 'Severe Ice Storm', 'Typhoon', 'Freezing', 'Drought',
       'Fishing Losses', 'Other', 'Dam/Levee Break', 'Tropical Depression',
       'year', 'month', 'day'],
      dtype='object')

In [146]:
sparse_MA.rename(columns={'stt':'state'},inplace=True)

In [252]:
MA_disaster_combined=sparse_MA.merge(disaster_df, how='inner', on=['incidentId','declarationType','state'], validate='m:m')

In [254]:
MA_disaster_combined.dropna(inplace=True)
MA_disaster_combined.drop_duplicates(inplace=True)

In [258]:
MA_disaster_combined.to_csv('MA_disaster_combined.csv',index=False)